/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans TC', sans-serif, 'Roboto';
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
  display: block;
}

body {
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

li {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

/*  */
body {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/*  */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Layout */
.d-flex {
  display: flex;
}

.flr-col {
  flex-direction: column;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.tac {
  text-align: center;
}

.h-100 {
  height: 100%;
}

/* Margin */
.mb-4 {
  margin-bottom: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

/* Padding */
.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-32 {
  padding-top: 32px;
}

.pl-16 {
  padding-left: 16px;
}

/* Text Color */
.text-wh {
  color: #ffffff;
}

.text-dr {
  color: #650300;
}

.text-lr {
  color: #AA0601;
}

/* Font Size */
.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.fz-20 {
  font-size: 20px;
}

.fz-24 {
  font-size: 24px;
}

.fz-36 {
  font-size: 36px;
}

.fz-48 {
  font-size: 48px;
}

.fz-64 {
  font-size: 64px;
}

.fz-80 {
  font-size: 84px;
}

.italic {
  font-style: italic;
}

hr {
  margin: 0;
  border-top: 0.5px;
  border-bottom: 0.5px;
  border-right: 0.5px;
  border-left: 0.5px;

}

/*  */
.container {
  max-width: 1296px;
  margin: 0 auto;
}

header {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #AA0601;
}

.logo {
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png");
  background-size: cover;
  width: 80px;
  height: 48.57px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}


/* Property of Part */

/* HEADER */
.header-nav {
  width: 492px;
}

/* BANNER */
.banner {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");
  height: calc(100vh - 80px);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner>.container {
  text-align: right;
}

.ai-e {
  align-items: flex-end;
}


.buy-immed {
  display: inline-block;
  padding: 6px 12px;
  background-color: #AA0601;
}

/* SERVICE */
.service {
  background-color: #FBF2F2;
}

.service-items {
  gap: 24px;
}

.service-card {
  max-width: 24%;
}

/* CLASSICAL FRAME*/
.classical-card {
  width: 416px;
}

/* CO-BRAND */
.co-brand {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true");
  height: 608px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.co-brand-card>img {
  width: 648px;
}

.co-brand-card>h3 {
  background-color: #ffffff;
}

/* RECOMMEND */
.recommend-items {
  gap: 0 24px;
}

.recommend-card {
  width: 24%;
}

.contact {
  background-color: #FBF2F2;
}

.contact>.container {
  width: 636px;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 6px 12px;
  margin: 8px 0 16px;
  background-color: transparent;
  border: 1px solid #000;
}

.checkbox {
  display: flex;
  gap: 4px;
}

.checkbox input {
  width: 28px;
  height: 14px;
}

.send-button {
  /* display: block; */
  background-color: #AA0601;
  /* margin: 0 auto; */
  /* width: 416px; */
  padding: 16px 176px;
}

footer {
  background-color: #AA0601;
  padding: 60px 0 32px;
}

.f-nav {
  gap: 0 48px;
}

.social-media {
  gap: 0 32px;
}

.social-media img {
  width: 48px;
  height: 48px;
}

.f-contact {
  padding: 32px 0 36px;
  border-bottom: 1px solid #fff;
}

.f-contact .material-symbols-outlined {
  font-size: 48px;
  margin-right: 16px;
}

.copy-right ul {
  gap: 0 48px;
}

/* 響應式部分 RWD PART */
@media(max-width: 768px) {
  .container {
    max-width: 696px;
  }

  .banner {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true");
  }

  /* SERVICE */
  .service-card {
    max-width: 48%;
  }

  .service-items {
    flex-wrap: wrap;
  }

  /* CLASSICAL */
  .classical-items {
    flex-direction: column;
  }

  .classical-card {
    width: 336px;
  }

  /* CO-BRAND */
  .co-brand-items {
    flex-wrap: wrap;
    gap: 24px 0;
  }

  .co-brand {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true");
    height: 960px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .co-brand-card>img {
    width: 696px;
  }

  /* RECOMMEND */
  .recommend-items {
    gap: 24px 24px;
    flex-wrap: wrap;
  }

  .recommend-card {
    width: 48%;
  }

  /* CONTACT US */
  .contact>.container {
    width: 576px;
  }

  .send-button {
    padding: 16px 136px;
  }

  /* FOOTER */
  footer {
    padding: 56px 0 40px;
  }



  .social-media {
    gap: 0 16px;
  }

  .social-media img {
    width: 40px;
    height: 40px;
  }

  /* .hidden-2 {
    display: none;
  } */
}

@media(max-width: 375px) {
  .fz-16 {
    font-size: 16px;
  }

  .fz-24 {
    font-size: 24px;
  }

  .pt-40 {
    padding-top: 40px;
  }

  .container {
    max-width: 348px;
  }

  .rwd-375 {
    flex-direction: column;
    gap: 16px 0;
  }

  header {
    padding-bottom: 0;
  }

  .header-nav {
    flex-wrap: wrap;
    width: 375px;
    justify-content: start;
  }

  .header-nav>li {
    width: 187px;
    font-size: 16px;
    padding: 12px 0;
    text-align: center;
    border: 1px solid #ffffff;
  }

  .banner {
    height: 396px;
  }

  .banner>.container {
    padding: 144px 0;
  }

  /* SERVICE */
  .service-card {
    max-width: 100%;
  }

  .service-items {
    flex-wrap: wrap;
  }

  /* CLASSICAL */
  .classical-items {
    flex-direction: column;
  }

  .classical-card {
    width: 348px;
  }

  /* CO-BRAND */
  .co-brand {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true");
    height: 820px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img-double {
    content: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1-sm.png?raw=true");
    width: 348px;
    height: 240px;
  }

  .img-youth {
    content: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2-sm.png?raw=true");
    width: 348px;
    height: 240px;
  }

  /* RECOMMEND */
  .recommend-items {
    gap: 16px 0px;
    flex-wrap: wrap;
  }

  .recommend-card {
    width: 100%;
  }

  /* CONTACT US */
  .contact>.container {
    width: 348px;
  }

  .send-button {
    padding: 16px 142px;
  }

  /* FOOTER */
  footer {
    padding: 24px 0 24px;
  }

  .f-nav {
    display: none;
  }

  .social-media img {
    width: 24px;
    height: 24px;
  }

  .f-contact {
    padding: 0 0 24px;
  }

  .f-contact .material-symbols-outlined {
    font-size: 18px;
    margin-right: 16px;
  }

  .f-contact p {
    font-size: 16px;
  }

  .copy-right {
    padding-top: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px 0;
  }

  .copy-right ul {
    gap: 8px 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .hidden-1 {
    display: none;
  }

}


@media(min-width: 375px) {

  .hidden-2 {
    display: none;
  }
}